<div class="container d-flex justify-content-center align-items-center vh-100">
    <form [formGroup]="orderPricesForm" (ngSubmit)="onSubmit()" class="w-50">
      <div class="form-group">
        <label for="id">Order Price ID</label>
        <input type="text" id="id" class="form-control" formControlName="id">
      </div>
  
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" id="price" class="form-control" formControlName="price">
      </div>
  
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
  </div>
  